<div class="container">
  <div class="rightbluehalofeat"></div>
  <div class="leftbluehalofeat"></div>
  <div class="topbluehalo"></div>
<div class="team-banner">
  <div class="container">
    <div class="title">
      <p>Mon <span class="blue-title">équipe</span></p>
    </div>
  </div>

<div class="team-design neon-effect" data-controller="teams">
          <table class="team-table">
          <thead class ="team-thead">
          <tr>
            <th><div class="card-team-title">Nom</div></th>
            <th><div class="card-team-title">Rôle</div></th>
            <th><div class="card-team-title">Emplacement du jour</div></th>
          </tr>
          </thead>
          <tbody>
                <% @team_users.each do |user| %>
                <tr>
                    <td class="team-text">
                      <div style="display: flex; align-items: center" class ="photo-profil">
                      <%= cl_image_tag user.photo.key, width: 70, height: 70, crop: :fill, class: 'clickable', data: { action: "click->teams#openProfile", id: user.id } %>
                      <%= "#{user.first_name} #{user.last_name}" %>
                      </div>
                    </td>
                    <td class="team-text"><%= "#{user.job_title}" %></td>
                    <td class="team-text clickable">
                      <% user.appointments.pluck(:id).each do |appointment_id| %>
                        <% appointment = Appointment.find(appointment_id) %>
                        <% if appointment.start_at.to_date == Date.today %>
                          <div data-action="click->teams#openDesk" data-id=<%=appointment.desk.name %>>
                            <%= "Bureau n°#{appointment.desk.name}" %>
                          </div>
                        <% end %>
                      <% end  %>
                    </td>
                </tr>
                <% end %>
          </tbody>
        </table>
</div>
</div>
</div>
<%= render "shared/sidebar", desks: @desks %>
