<div class="sidebar" data-controller="sousmenu">
    <ul>
      <li >
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
      </li>
      <li>
        <%= link_to "", root_path, class: "fa-solid fa-house fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/chatrooms/1", class: "fa-solid fa-comment fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/appointments", class: "fa-solid fa-folder-open fa-xl" %>
      </li>
      <li data-action ="click->sousmenu#display" data-sousmenu-target="bureau">
        <%= link_to "", "", class: "fa-solid fa-users fa-xl" %>
      </li>
      <li id="etage" data-action ="click->sousmenu#display" >
        <%= link_to "", "/desks", class: "fa-solid fa-stairs fa-xl" %>
        <ul class="sousmenu" data-sousmenu-target="etage">




        </ul>
      </li>
      <li>
        <%= link_to "", "", class: "fa-solid fa-magnifying-glass fa-xl" %>
      </li>
    </ul>
  </div>
