<div class="sidebar" data-controller="sousmenu">
    <ul>
      <li>
        <img class="avatar " src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
      </li>
      <li>
        <%= link_to "", desks_path, class: "fa-solid fa-house fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/chatrooms/1", class: "fa-solid fa-comment fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/appointments", class: "fa-solid fa-folder-open fa-xl" %>
      </li>
      <li data-action ="click->sousmenu#display" data-sousmenu-target="bureau">
        <%= link_to "", "", class: "fa-solid fa-users fa-xl" %>
      </li>
      <li  class="nav-item dropdown" >
        <%= link_to "", "", class: "fa-solid fa-desktop fa-xl dropdown-toggle", id: "dropDown1", data:{bs_toggle:"dropdown"} %>
        <div class="dropdown-menu" aria-labelledby="dropDown1">
            <a class="dropdown-item" >
              <% desks.each do |desk| %>
              <%= link_to "bureau #{desk.name}", desk_path(desk) %>
              <% end %>
            </a>
        </div>
      </li>
      <li class="nav-item dropdown" >
        <%= link_to "", "", class: "fa-solid fa-stairs fa-xl dropdown-toggle",  id: "dropDown2", data:{bs_toggle:"dropdown"} %>
          <div class="dropdown-menu" aria-labelledby="dropDown2" >
            <a class="dropdown-item" >Etage 1</a>
            <a class="dropdown-item" >Etage 2</a>
          </div>
      </li>
      <li>
        <%= link_to "", "", class: "fa-solid fa-magnifying-glass fa-xl" %>
      </li>
    </ul>
  </div>
