<div class="sidebar" data-controller="sousmenu">
    <ul>
      <% if user_signed_in? %> <!-- Vérifie si un utilisateur est connecté -->
        <li>
          <img class="avatar" src="https://res.cloudinary.com/dvarz39fw/image/upload/v1711194826/laura_dyqsnu.png" />
          <%= link_to "", user_path(current_user), class: "avatar" %> <!-- Utilise current_user au lieu de user -->
        </li>
      <% end %>
      <li>
        <%= link_to "", desks_path, class: "fa-solid fa-house fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/chatrooms/1", class: "fa-solid fa-comment fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/appointments", class: "fa-solid fa-folder-open fa-xl" %>
      </li>

      <li>
        <%= link_to "", "/teams", class: "fa-solid fa-users fa-xl" %>
      </li>

      <li  class="nav-item dropdown" >
        <%= link_to "", "", class: "fa-solid fa-desktop fa-xl dropdown-toggle", id: "dropDown1", data:{bs_toggle:"dropdown"} %>
        <div class="dropdown-menu " aria-labelledby="dropDown1">
          <p>Bureau</p>
            <a class="dropdown-item width-210" >
              <% desks.each do |desk| %>
              <%= link_to " #{desk.name}", desk_path(desk) , class:"a-dropdown" %>
              <% end %>
            </a>
        </div>
      </li>
      <li class="nav-item dropright">
        <%= link_to "", "", class: "fa-solid fa-stairs fa-xl dropdown-toggle",  id: "dropDownFloor", data: { bs_toggle: "dropdown" } %>
        <div class="dropdown-menu level" aria-labelledby="dropDownFloor" >
          <div class="dropdown-item-container">

            <i class="fa-solid fa-stairs"></i>
          <a class="dropdown-item" href="/desks?level=1">Etage 1</a>
          </div>
          <div class="dropdown-item-container">
            <i class="fa-solid fa-stairs"></i>
          <a class="dropdown-item" href="/desks?level=2">Etage 2</a>

          </div>
        </div>
      </li>
      <li>
        <%= link_to "", "/search", class: "fa-solid fa-magnifying-glass fa-xl" %>
      </li>
    </ul>
  </div>
