<div class="sidebar">
    <ul>
      <li>
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
      </li>
      <li>
        <%= link_to "", "/desks", class: "fa-solid fa-house fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/chatrooms/1", class: "fa-solid fa-comment fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/appointments", class: "fa-solid fa-folder-open fa-xl" %>
      </li>
      <li>
        <%= link_to "", "", class: "fa-solid fa-users fa-xl" %>
      </li>
      <li class="nav-item dropdown" data-bs-toggle="dropdown" >
        <%= link_to "", "", class: "fa-solid fa-desktop fa-xl" %>
        <div class="dropdown-menu" >
            <a class="dropdown-item" >Bureau 1</a>
            <a class="dropdown-item" >Bureau 2</a>
          </div>
      </li>
      <li class="nav-item dropdown" data-bs-toggle="dropdown" >
        <%= link_to "", "", class: "fa-solid fa-stairs fa-xl" %>
          <div class="dropdown-menu" >
            <a class="dropdown-item" >Etage 1</a>
            <a class="dropdown-item" >Etage 2</a>
          </div>
      </li>
      <li>
        <%= link_to "", "", class: "fa-solid fa-magnifying-glass fa-xl" %>
      </li>



    </ul>
  </div>
