<div class="sidebar" data-controller="sousmenu">
    <ul>
      <li>
        <img class="avatar " src="https://res.cloudinary.com/dvarz39fw/image/upload/v1711194826/laura_dyqsnu.png" />
      </li>
      <li>
        <%= link_to "", desks_path, class: "fa-solid fa-house fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/chatrooms/1", class: "fa-solid fa-comment fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/appointments", class: "fa-solid fa-folder-open fa-xl" %>
      </li>
      <li>
        <%= link_to "", "/teams", class: "fa-solid fa-users fa-xl" %>
      </li>
      <li class="nav-item dropright">
        <%= link_to "", "", class: "fa-solid fa-desktop fa-xl dropdown-toggle", id: "dropDownDesktop", data: { bs_toggle: "dropdown" } %>
        <div class="dropdown-menu dropdown-menu--scroll" aria-labelledby="dropDownDesktop">
          <% desks.each do |desk| %>
            <div class="dropdown-item-container">
              <i class="fa-solid fa-desktop"></i>
              <%= link_to "Bureau #{desk.name}", desk_path(desk), class: "dropdown-item" %>
            </div>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropright">
        <%= link_to "", "", class: "fa-solid fa-stairs fa-xl dropdown-toggle",  id: "dropDownFloor", data: { bs_toggle: "dropdown" } %>
        <div class="dropdown-menu" aria-labelledby="dropDownFloor" >
          <div class="dropdown-item-container">
            <i class="fa-solid fa-stairs"></i>
          <a class="dropdown-item">Etage 1</a>
          </div>
          <div class="dropdown-item-container">
            <i class="fa-solid fa-stairs"></i>
          <a class="dropdown-item">Etage 2</a>
          </div>
        </div>
      </li>
      <li>
        <%= link_to "", "", class: "fa-solid fa-magnifying-glass fa-xl" %>
      </li>
    </ul>
  </div>
