<div class="sidebar " data-controller="sousmenu">
  <ul data-controller="search-bar" >
    <% if user_signed_in? %> <!-- Vérifie si un utilisateur est connecté -->
      <li>
        <img class="avatar" src="https://res.cloudinary.com/dvarz39fw/image/upload/v1711194826/laura_dyqsnu.png" />
      </li>
    <% end %>
    <li>
      <%= link_to "", desks_path, class: "fa-solid fa-house fa-xl" %>
    </li>
    <li>
      <%= link_to "", "/chatrooms/1", class: "fa-solid fa-comment fa-xl" %>
    </li>
    <li>
      <%= link_to "", "/appointments", class: "fa-solid fa-folder-open fa-xl" %>
    </li>
    <li>
      <%= link_to "", "/teams", class: "fa-solid fa-users fa-xl" %>
    </li>
    <li  class="nav-item dropdown "   data-action= "click->search-bar#displayDesk">
      <%= link_to "", "", class: "fa-solid fa-desktop fa-xl dropdown-toggle", id: "dropDown1", data:{bs_toggle:"dropdown"} %>
      <div class="desk-submenu neon-effect" aria-labelledby="dropDown1" data-search-bar-target="searchDesk">
        <span>Bureau</span>
        <a class="dropdown-item width-210" >
          <% desks.each do |desk| %>
            <%= link_to " #{desk.name}", desk_path(desk) , class:"a-dropdown" %>
          <% end %>
        </a>
      </div>
    </li>
    <li class="nav-item dropright">
      <%= link_to "", "", class: "fa-solid fa-stairs fa-xl dropdown-toggle",  id: "dropDownFloor", data: { bs_toggle: "dropdown" } %>
      <div class="dropdown-menu level" aria-labelledby="dropDownFloor" >
        <div class="dropdown-item-container">
          <i class="fa-solid fa-stairs"></i>
          <a class="dropdown-item" href="/desks?level=1">Etage 1</a>
        </div>
        <div class="dropdown-item-container">
          <i class="fa-solid fa-stairs"></i>
          <a class="dropdown-item" href="/desks?level=2">Etage 2</a>
        </div>
      </div>
    </li>
    <li class= "search-btn fa-solid fa-magnifying-glass fa-xl" data-action= "click->search-bar#displaySearch">
    </li>
    <div class="nav-search-form neon-effect" data-search-bar-target="searchForm">
      <%= form_with url: search_path, method: :get, class: "search-input" do %>
        <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Rechercher un collègue",
                style: "border-radius: 16px"
              %>
        <%= submit_tag "Rechercher", name: "", class: "btn-sky" %>
      <% end %>
    </div>
  </ul>
</div>
