<div class="sidebar__container" id="index-content" data-controller="deskconnect">
  <div class="container-halo">
      <div class="toprightbluehalo"></div>
      <div class="pattern"></div>
  </div>

  <!-- fenetre modal reservation bureau -->
  <div class="bureau-modal" data-deskconnect-target="modal">
    <div class="bureau-modal-container">
      <span class="desk_book" data-deskconnect-target="desk_book"></span>
      <%= simple_form_for @appointment, html: {class: "", data:{ deskconnect_target: 'formModal'}} do |f| %>
        <%= f.input :start_at,
          as: :string,
          label: false,
          placeholder: "Début de réservation",
          input_html: { data: { controller: "datepicker", deskconnect_target: "modalstart"}}
        %>
        <% f.input :end_at,
          as: :hidden,
          as: :string,
          label: false,
          placeholder: "Fin de réservation",
          input_html: { data: { controller: "datepicker", deskconnect_target: "modalend"}}
        %>
        <%= f.input :desk_id,
          as: :hidden,
          label: false,
          input_html: { data: {deskconnect_target: "bureauid"}}
        %>
        <%= f.submit "Réserver",
          class: "btn-light-sky",
          data: {action: "click->deskconnect#submit"}
        %>
      <% end %>
    </div>
  </div>
  <!-- Fin fenetre modal reservation bureau -->

  <!-- Champ de recherche par date -->
  <div class="container">
    <div class="title">
      <p>Votre <span class="blue-title">dashboard</span></p>
    </div>
    <div class="search neon-effect">
      <%= simple_form_for desks_path, method: :get , data: { deskconnect_target:"form" }  do |f| %>
          <%= f.input :start_at,
            as: :string,
            input_html: { data: { controller: "datepicker", deskconnect_target: "start_date" }, class: "start_at_input card-search" },
            label: false %>
          <% f.input :end_at,
          as: :hidden,
            as: :string,
            input_html: { data: { controller: "datepicker", deskconnect_target: "end_date" }, class: "end_at_input" },
            label: false %>
          <%= f.submit "Rechercher", class: "btn-sky", data: {action: "click->deskconnect#form"}%>
      <% end %>
    </div>
  </div>
  <!-- FinChamp de recherche par date -->

  <!-- Bureau SVG +etage -->
  <div class="bureau" >
    <div class="container flex">

      <div class="container-svg neon-effect">
        <div class="titre-level">Bureau</div>
          <div id="svg-container" data-deskconnect-target="level" data-controller="menu-contextuel">
            <%= render "svg" , levelSvg: @levelSvg %>
          </div>
          <div class="bureau-information-niveau" >
            <p><span class="b-rounded" data-deskconnect-target ="infoNiveau"></span></p>
          </div>
          <div class="bureau-information" >
            <span class="b-rounded" data-deskconnect-target ="infoDispo">Disponibilité des bureaux actuellement</span>
          </div>

      </div>

<div class="bureau-level neon-effect">


        <div class="titre-level">Etage</div>
        <ul>
          <li data-etage="1" data-action="click->deskconnect#changeLevel"><p data-etage="1">1</p> <div class="etage-shape" data-etage="1"></div></li>
          <li data-etage="2" data-action="click->deskconnect#changeLevel"><p data-etage="2">2</p> <div class="etage-shape" data-etage="2"></div></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="features-container">
        <div class="calendar-container">
          <%= render "week_calendar", appointments_week: @appointments_week%>
        </div>
        <div class="chatroom__container neon-effect">
          <h1 class="titre-level">Chat</h1>
          <div
            class="chatroom__subscription"
            data-controller="chatroom-subscription"
            data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
            data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
            <div data-chatroom-subscription-target="messages">
              <% @chatroom.messages.each do |message| %>
                <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                  <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                    <%= render "messages/message", message: message %>
                  </div>
                </div>
              <% end %>
            </div>
            <%= simple_form_for [@chatroom, @message],
              html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
            %>
              <%= f.input :content,
                label: false,
                placeholder: "Message #{@chatroom.name}",
                wrapper_html: {class: "flex-grow-1"}
              %>
              <%= f.submit "Envoyer", class: "btn btn-primary mb-3" %>
            <% end %>
          </div>
        </div>
      </div>
      <%= render "shared/sidebar" %>
    </div>
  </div>
</div>
