
  <div id="index-content" data-controller="deskconnect">
    <div class="container">
      <div class="title">
        <p>votre <span class="blue-title">dashboard</span></p>
      </div>
      <div class="search b-rounded">
        <%= simple_form_for desks_path, method: :get , data: { deskconnect_target:"form" }  do |f| %>
          <%= f.input :start_at,
            as: :string,
            input_html: { data: { controller: "datepicker", deskconnect_target: "start_date" }, class: "start_at_input" },
            label: false %>
          <%= f.input :end_at,
            as: :string,
            input_html: { data: { controller: "datepicker", deskconnect_target: "end_date" }, class: "end_at_input" },
            label: false %>
          <%= f.submit "Valider", class: "btn-sky", data: {action: "click->deskconnect#form"}%>
        <% end %>
      </div>
    </div>
    <div class="bureau" >
      <div class="container flex">
        <div class="container-svg">
          <div id="svg-container" data-deskconnect-target="level">

            <%= render "svg" , levelSvg: @levelSvg %>
            </div>
          <div class="bureau-information-niveau" >
            <span class="b-rounded" data-deskconnect-target ="infoNiveau">niveau 1</span>
          </div>
          <div class="bureau-information" >
            <span class="b-rounded" data-deskconnect-target ="infoDispo">Disponibilité des bureaux actuellement</span>
          </div>
          <div class="bureau-modal" data-deskconnect-target="modal">
             <%= simple_form_for @appointment, html: {class: "", data:{ deskconnect_target: 'formModal'}} do |f| %>
              <%= f.input :start_at,
                as: :string,
                input_html: { data: { controller: "datepicker", deskconnect_target: "modalstart"}}
               %>
              <%= f.input :end_at,
               as: :string,
               input_html: { data: { controller: "datepicker", deskconnect_target: "modalend"}}
               %>
              <%= f.input :desk_id,
               input_html: { data: {deskconnect_target: "bureauid"}}
              %>
              <%= f.submit "Réserver",
                        class: "btn-sky",
                        data: {action: "click->deskconnect#submit"} %>
             <% end %>
          </div>
        </div>
        <div class="bureau-level">
        </div>
      </div>
     </div>
    </div>
