
<div class="container">
  <div class="booking">
    <div class="booking-title">
       <h2><%= "Bureau n°#{ @desk.name}"%></h2>
       <div class="booking-svg">
          <%= render partial: "desks/svg" , locals: {levelSvg: @levelSvg } %>
       </div>
     </div>
     <div class="booking-container-form">
      <h2>Réservation en 3 clics!</h2>
      <form class="booking-form">
<%= simple_form_for @appointment, html: {class: "", data:{ deskconnect_target: 'formModal'}} do |f| %>
      <%= f.input :start_at,
        as: :string,
        label: false,
        placeholder: "Début de réservation",
        input_html: { data: { controller: "datepicker", deskconnect_target: "modalstart"}
        }
      %>
      <%= f.input :end_at,
        as: :string,
        label: false,
        placeholder: "Fin de réservation",
        input_html: { data: { controller: "datepicker", deskconnect_target: "modalend"}
      }
      %>
      <%= f.input :desk_id,
        as: :hidden,
        label: false,
        input_html: { data: {deskconnect_target: "bureauid"}}
      %>

      <%= f.submit "Réserver",
        class: "btn-white",
        data: {action: "click->deskconnect#submit"} %>
      <% end %>

      </form>
    </div>
  </div>


</div>


<div class="container">
<div class="booking-list-container">
  <div class="titre-booking">Réservations à venir</div>
  <div class="booking-list-border">
    <div class="first-row-booking-list">
      <span>Nom</span>
      <span>Jour</span>
      <span>De</span>
      <span>A</span>
    </div>
        <% if !@appointment_comings.empty?%>
          <div class="row-booking-list">
            <%@appointment_comings.each do |appointment|  %>
               <p>
                  <%=appointment.user.nickname  %>
               </p>
               <p>
                 <%= appointment.start_at.strftime("%A %d %B")  %>
               </p>
             <% end %>
           </div>
         <% else %>
          <p>Pas de réservation à venir</p>
         <% end %>
   </div>
   </div>

<div class="booking-list-container">
    <div class="titre-booking">Réservations passées</div>
  <div class="booking-list-border">
    <div class="first-row-booking-list">
      <span>Nom</span>
      <span>Jour</span>
      <span>De</span>
      <span>A</span>
    </div>
     <% if !@appointment_passed.empty?%>
       <div class="row-booking-list">
        <%@appointment_passed.each do |appointment|  %>
          <p><%=appointment.user.nickname  %></p>
          <p><%= appointment.start_at.strftime("%A %d %B")  %></p>
          <% end %>
        </div>
      <% else %>
        <p>Pas de réservation à venir</p>
      <% end %>
   </div>
  </div>
</div>
<%= render "shared/sidebar" %>
