<div data-controller="appointment-historic">

<div class="rightbluehalofeat"></div>
<div class="leftbluehalofeat"></div>
<div class="topbluehalo"></div>

<div class="hero_banner">
  <div class="container">
    <div class="title">
      <p>réservations <span class="blue-title">à venir</span></p>
    </div>
  </div>



  <div class="container">
    <div class="cards-appointments">
      <% @appointments.each do |appointment| %>
            <% if appointment.start_at.to_date >= Date.today %>
            <div class="card-appointments clickable" data-action="click->appointment-historic#open" data-id=<%= appointment.id %>>
            <p><b><%= "Bureau n°#{appointment.desk.name}"%></b></p>
            <p><%= "Le #{appointment.start_at.strftime("%d/%m/%y")} de #{appointment.start_at.strftime('%H:%M')} à #{appointment.end_at.strftime('%H:%M')}" %></p>
            </div>
            <% end %>
      <% end %>
    </div>
  </div>

  <div class="container mt-5 pt-5">
    <div class="title">
      <p>réservations <span class="blue-title">passées</span></p>
    </div>
  </div>

  <div class="container">
    <div class="cards-appointments ">
      <% @appointments.each do |appointment| %>
        <% if appointment.start_at.to_date < Date.today %>
        <div class="card-past-appointments clickable" data-action="click->appointment-historic#open" data-id=<%= appointment.id %>>
        <p><b><%= "Bureau n°#{appointment.desk.name}"%></b></p>
        <p><%= "Le #{appointment.start_at.strftime("%d/%m/%y")} de #{appointment.start_at.strftime('%H:%M')} à #{appointment.end_at.strftime('%H:%M')}" %></p>
        </div>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
</div>
